html {
    max-width: 100%;
    overflow-x: hidden;
}

.melody-checkbox {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.melody-checkbox:checked ~ div {
  background: #3adb76;
}

.melody-box, .melody-label {
  height:20px;
  width: 20px;
}

.melody-label {
  position: absolute;
}

.melody-cell {
  padding: 0px;
}

.melody-row td {
  padding: 0px;
}

.slider-handle.success {
  background-color: #3adb76;
}
.slider-handle.secondary {
  background-color: #777777;
}
.slider-handle.alert {
  background-color: #ec5840;
}

.container {
  margin-top:       20px;
  border-radius:    3px;
  background-color: #fff;
  margin-bottom:    30px;
  padding:          10px;
  border-color:     #cdc;
  border-width:     1px;
  border-style:     solid;
}

#envelope-graph {
  border-radius:    3px;
  border-color:     #cdc;
  border-width:     1px;
  border-style:     solid;
  width:            100%;
}

.button-container {
  display: flex;
  flex-flow: flex-wrap;
  justify-content: center;
  width: 200px;
  height: 80px;
}

.play-control-button {
  flex-grow: 1;
}

#footer {
  clear:            both;
  background-color: #333;
  color:            #a4a4a4;
  padding:          10px;
  font-size:        14px;
  position:         relative;
  bottom:           0;
  width:            100%;
  overflow:         hidden;
  margin-top:       -4em;
}

#footer a:hover {
  background-color: #333;
  color:            #C6572F;
}

#footer a {
  color: #a4a4a4;
}

#wrapper {
  min-height:    100%;
  margin-bottom: 60px;
}

.larger {
  display: inline;
  font-size: 20px;
}

.rc-slider {
  margin: 15px;
  width: 95%;
}

.overtone-slider {
  margin-bottom: 30px;
}
