html {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
  background-color: #fff;
  padding:          10px;
}

#envelope-graph {
  border-radius:    3px;
  border-color:     #cdc;
  border-width:     1px;
  border-style:     solid;
  width:            100%;
}

.button-container {
  display: flex;
  flex-flow: flex-wrap;
  justify-content: center;
  width: 200px;
  height: 80px;
}

.play-control-button {
  flex-grow: 1;
}

#footer {
  clear:            both;
  background-color: #333;
  color:            #a4a4a4;
  padding:          10px;
  font-size:        14px;
  position:         relative;
  bottom:           0;
  width:            100%;
  overflow:         hidden;
  margin-top:       -4em;
}

#footer a:hover {
  background-color: #333;
  color:            #C6572F;
}

#footer a {
  color: #a4a4a4;
}

#wrapper {
  min-height:    100%;
  margin-bottom: 60px;
}

.larger {
  display: inline;
  font-size: 20px;
}

.rc-slider {
  margin: 15px;
  width: 95%;
}

.overtone-slider {
  margin-bottom: 30px;
}
.PianoRollContainer {
  #piano-roll-canvas {
    width: 100%;
  }
}
