html {
  max-width:  100%;
  overflow-x: hidden;
}

.button-container {
  display: flex;
  flex-flow: flex-wrap;
  justify-content: center;
  width: 200px;
  height: 80px;
}

.play-control-button {
  flex: 1;
}

#react-web-instrument {
  flex: 1;
}

#footer {
  clear:            both;
  background-color: #333;
  color:            #a4a4a4;
  padding:          10px;
  font-size:        14px;
  position:         relative;
  bottom:           0;
  width:            100%;
  overflow:         hidden;
  margin-top:       -4em;
}

#footer a:hover {
  background-color: #333;
  color:            #C6572F;
}

#footer a {
  color: #a4a4a4;
}

#wrapper {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  .fa-circle-o-notch {
    margin-left: 50%;
    margin-top: 2em;
  }

  @media screen and (max-width: 640px) {
    flex-flow: column;
  }

  @media screen and (min-width: 640px) {
    flex-flow: row;
  }
}

#content {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 640px) {
    flex-flow: column;
  }

  @media screen and (min-width: 640px) {
    flex-flow: row nowrap;
  }
}

.inline {
  display: inline;
}

.larger {
  display: inline;
  font-size: 20px;
}

.instrument-container {
  display: flex;
  flex: 1;

  @media screen and (max-width: 640px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 640px) {
    justify-content: center;
  }

  .instrument-inner-container {
    max-width: 900px;
  }

  .rc-slider {
    margin: 15px;
    width: 95%;
  }

  .overtone-slider {
    margin-bottom: 30px;
  }
  .name-container {
    display: flex;
    .fa {
      cursor: pointer;
    }
  }
  .web-instrument {
    display:         flex;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-flow: column;
    }

    @media screen and (min-width: 640px) {
      flex-flow: row wrap;
    }
  }
  .container {
    width:   45%;
    padding: 10px;
  }
  #envelope-graph {
    border-radius:    3px;
    border-color:     #cdc;
    border-width:     1px;
    border-style:     solid;
    width:            100%;
  }
}


.instrument-picker {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  margin-right: 1em;

  .new-instrument {
    cursor: pointer;
    transition: all 300ms;
    margin-bottom: 1em;
  }

  .visualiser-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    &:last-child {
      margin-right: 0px;
    }

    .top-instrument-container {
      flex: 1;
      cursor: pointer;
      margin-right: 5px;
      display: flex;
      align-items: center;

      .instrument-visualiser {
        transition: all 300ms;
      }

      .instrument-visualiser:hover {
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
        z-index: 2;
      }
      .active-instrument {
        box-shadow: 0px 0px 2px 3px rgba(120, 0, 0, 0.2);
        z-index: 1;
      }

      .mute-button {
        margin-right: 1em;
        width: 1em;
      }
    }
  }
}
